In [1]:
import pymongo 
import pandas as pd

In [17]:
client = pymongo.MongoClient('localhost', 27017)
db = client['MLB']
db_collection = db['statcast']

In [19]:
pitcher_df = pd.DataFrame(list(db_collection.distinct('pitcher')), columns=["pitcher"])
pitcher_df

     pitcher
0     450212
1     608331
2     502085
3     592426
4     593576
5     641149
6     641438
7     605400
8     527054
9     592779
10    571863
11    554340
12    547943
13    425844
14    456696
15    607237
16    628452
17    595897
18    593144
19    592791
20    435043
21    453172
22    622491
23    543557
24    467008
25    605488
26    542960
27    664871
28    600968
29    452657
..       ...
641   628333
642   664196
643   670426
644   657141
645   605447
646   660494
647   656814
648   642607
649   572044
650   660623
651   446481
652   475479
653   663531
654   552640
655   668665
656   664092
657   621002
658   668678
659   622250
660   640470
661   621141
662   572971
663   543219
664   650644
665   608723
666   489295
667   542585
668   571539
669   477569
670   501817

[671 rows x 1 columns]

In [20]:
batter_df = pd.DataFrame(list(db_collection.distinct('batter')), columns=['batter'])
batter_df

     batter
0    622666
1    621020
2    435263
3    457705
4    664068
5    596748
6    645277
7    455976
8    660670
9    518692
10   518626
11   514917
12   546318
13   592663
14   656555
15   516416
16   542255
17   459964
18   608384
19   547180
20   527054
21   605400
22   571974
23   605113
24   606466
25   572233
26   444482
27   527038
28   457759
29   592779
..      ...
750  642558
751  543592
752  592660
753  489119
754  457708
755  434378
756  663531
757  467100
758  571670
759  543037
760  598286
761  519455
762  641470
763  608337
764  606424
765  668678
766  608638
767  600858
768  640470
769  621141
770  656288
771  572971
772  570240
773  642736
774  446868
775  660853
776  608723
777  670712
778  656252
779  445055

[780 rows x 1 columns]

In [14]:
client = pymongo.MongoClient('localhost', 27017)
db = client['MLB']
db_collection_player_map = db['player_name_and_ids']

In [53]:
query_dict = {'mlb_id': batter_df['batter'][0].item() }
query_dict

{'mlb_id': 622666}

In [30]:
fields_return_dict = {"_id": 0, "mlb_id": 1, "bref_id": 1}

In [54]:
df = pd.DataFrame(list(db_collection_player_map.find(query_dict,fields_return_dict))) #convert entire collection to pandas DataFrame
df

     bref_id  mlb_id
0  camarjo01  622666

In [89]:
fields_return_dict = {"_id": 0, "mlb_id": 1, "bref_id": 1}
data = []
for k in batter_df['batter']:
    query_dict = {'mlb_id': k}
    result = pd.DataFrame(list(db_collection_player_map.find(query_dict,fields_return_dict)))
    data.append(result)
    
data = pd.concat(data, axis=0, ignore_index=True)

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 780 entries, 0 to 779
Data columns (total 2 columns):
bref_id    779 non-null object
mlb_id     780 non-null int64
dtypes: int64(1), object(1)
memory usage: 12.3+ KB

In [90]:
data

       bref_id  mlb_id
0    camarjo01  622666
1    swansda01  621020
2    mccanbr01  435263
3    mccutan01  457705
4    kingesc01  664068
5    francma02  596748
6    albieoz01  645277
7    markani01  455976
8    acunaro01  660670
9    freemfr01  518692
10   donaljo02  518626
11   hernace02  514917
12   herreod01  546318
13   realmjt01  592663
14   hoskirh01  656555
15   segurje01  516416
16   inciaen01  542255
17   joycema01  459964
18   willini01  608384
19   harpebr03  547180
20   teherju01  527054
21    nolaaa01  605400
22   murphjr01  571974
23   ahmedni01  605113
24   marteke01  606466
25   walkech02  572233
26   peralda01  444482
27   florewi01  527038
28   turneju01  457759
29   stewabr01  592779
..         ...     ...
750  juradar01  642558
751   nolaau01  543592
752  ravelra01  592660
753  mileywa01  489119
754  uptonju01  457708
755  verlaju01  434378
756  allenlo01  663531
757   novaiv01  467100
758  florody01  571670
759   colege01  543037
760  ramirni01  598286
761  zimmejo02  519455
762  colliza01  641470
763  giolilu01  608337
764  garcija04  606424
765  galleza01  668678
766  chargjt01  608638
767  arteahu01  600858
768  alzolad01  640470
769  lockewa01  621141
770  cannigr01  656288
771  keuchda01  572971
772   penafe01  570240
773  leybado01  642736
774  castiwi01  446868
775  delosen01  660853
776   vothau01  608723
777        NaN  670712
778  bradlbo01  656252
779    jayjo02  445055

[780 rows x 2 columns]

In [101]:
fields_return_dict = {"_id": 0, "mlb_id": 1, "bref_id": 1, "throws": 1, "espn_pos": 1, "debut": 1}
pitcher_query = []
for k in pitcher_df['pitcher']:
    query_dict = {'mlb_id': k}
    result = pd.DataFrame(list(db_collection_player_map.find(query_dict,fields_return_dict)))
    pitcher_query.append(result)
    
pitcher_query = pd.concat(pitcher_query, axis=0, ignore_index=True)

pitcher_query.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 671 entries, 0 to 670
Data columns (total 4 columns):
bref_id     668 non-null object
espn_pos    662 non-null object
mlb_id      671 non-null int64
throws      671 non-null object
dtypes: int64(1), object(3)
memory usage: 21.0+ KB

In [102]:
pitcher_query

       bref_id espn_pos  mlb_id throws
0    neshepa01       RP  450212      R
1    friedma01       SP  608331      L
2    roberda08       RP  502085      R
3    jackslu01       RP  592426      R
4    nerishe01       RP  593576      R
5    parsowe01       RP  641149      R
6    carlesh01       RP  641438      R
7     nolaaa01       SP  605400      R
8    teherju01       SP  527054      R
9    stewabr01       SP  592779      R
10    kochma01       SP  571863      R
11   garciyi01       RP  554340      R
12     ryuhy01       SP  547943      L
13   greinza01       SP  425844      R
14   hernada01       RP  456696      R
15   garream01       RP  607237      L
16   iglesra01       RP  628452      R
17   burdini01       RP  595897      R
18   rodriri05       RP  593144      R
19   taillja01       SP  592791      R
20    dukeza01       RP  435043      L
21   hugheja02       RP  453172      R
22   castilu02       SP  622491      R
23   montgmi01       RP  543557      L
24   stroppe01       RP  467008      R
25   sprinje01       RP  605488      L
26   brachbr01       RP  542960      R
27   dowdyky01       SP  664871      R
28   rosarra01       RP  600968      L
29   lestejo01       SP  452657      L
..         ...      ...     ...    ...
641  despaod01       SP  628333      R
642  anderta01       RP  664196      R
643  diehlph01       RP  670426      L
644  yamamjo01       SP  657141      R
645  romanjo03       SP  605447      R
646  armenro01       SP  660494      R
647  ortizlu02       RP  656814      R
648  agrazda01       SP  642607      R
649  poundbr01       RP  572044      R
650   ynoahu01       RP  660623      R
651  rodrise01       2B  446481      R
652  phelpda01       RP  475479      R
653  allenlo01       SP  663531      L
654  kittran01       RP  552640      R
655  nogosst01       RP  668665      R
656  poppese01       RP  664092      R
657  roberda10       2B  621002      R
658  galleza01       RP  668678      R
659  sborzjo01       RP  622250      R
660  alzolad01       SP  640470      R
661  lockewa01       SP  621141      R
662  keuchda01       SP  572971      L
663  gilmase01       SP  543219      L
664  civalaa01      NaN  650644      R
665   vothau01       SP  608723      R
666  schlibr01       RP  489295      R
667  cisnejo01       RP  542585      R
668  carasma01       RP  571539      R
669  salasfe01       RP  477569      R
670  barneto01       RP  501817      R

[671 rows x 4 columns]